@font-face {
  font-family: Viga;
  src: url(fonts/Viga-Regular.ttf);
}

body {
  height: 1500px;
}

.navbar-brand {
  font-family: "Viga";
  font-size: 32px;
}

section .container {
  margin-top: 100px;
}

section .proyek {
  margin-top: 200px;
}

.card {
  background-color: transparent;
  border-style: none;
}

.gg {
  margin: auto;
}

.deskripsi {
  margin: auto;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: black !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
